/* font families */

@font-face {
  font-family: 'Century Gothic';
  src: url('~@/assets/fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: url('~@/assets/fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Typold Regular';
  src: url('~@/assets/fonts/Typold-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typold Bold';
  src: url('~@/assets/fonts/Typold-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* font sizes */

$font-sizes: (
  'h1': 2.5rem,     // 40px
  'h2': 1rem,       // 16px
  'h3': 0.875rem,   // 12px
  'text': 1rem,     // 16px
);