@use 'sass:map';
@use 'fonts' as *;

body {
  font-family: "CenturyGothic", sans-serif;
  color: var(--clr-txt-primary);
  line-height: 1.5;
}

.h1 {
  font-family: "CenturyGothic", sans-serif;
  font-size: map.get($font-sizes, 'fs-40pt');
  font-weight: lighter;
  line-height: 1.2;
  text-align: center;
}

.h2 {
  font-family: "CenturyGothic", sans-serif;
  font-size: map.get($font-sizes, 'fs-16pt');
  font-weight: bold;
  line-height: 1.5;
  color: var(--clr-txt-primary);
}

.h3 {
  font-family: "CenturyGothic", sans-serif;
  font-size: map.get($font-sizes, 'fs-12pt');
  font-weight: bold;
  font-style: normal;
  line-height: 1.333;
  text-transform: uppercase;
  color: var(--clr-txt-accent);
}